[submodule "dashboard"]
	path = dashboard
	url = git@github.com:leonunix/oynx_storage_dashboard.git
[submodule "metadb"]
	path = metadb
	url = git@github.com:leonunix/onyx_metadb.git
[submodule "chunklet"]
	path = chunklet
	url = git@github.com:leonunix/onyx_chunklet.git
